html, body{
	height:100%;

}

p{
	margin:auto;
	text-align:center;
	font-family: 'Permanent Marker', cursive;
	font-size:2em;
	color:#FFFFFF;
	padding-top: 250px;
}
h1{
	text-align:center;
	padding-top: 30px;
	color:white;
	font-family: 'Permanent Marker', cursive;
	font-size:24px;
}













